#1) Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
#taking the inputs of length and breadth
a = float(input('Enter length: '))
b = float(input('Enter breadth: '))

#checking the conditions to be a square
if a==b:
    print('It is square.')
else:
    print('It is not square.')

Enter length: 12
Enter breadth: 012
It is square.

#2) Take three integer values from the user and print the greatest among them.

In [2]:
#taking the inputs of the number.
a = int(input('Enter the 1st number: '))
b = int(input('Enter the 2nd number: '))
c = int(input('Enter the 3rd number: '))

#check which number is the greatest among them.
if (a==b==c):
    print('Three of the numbers are equal.')
elif (a>b and a>c):
    print(a,"is the largest")
elif(b>a and b>c):
    print(b,"is the largest")
else:
    print(c,"is the largest")

Enter the 1st number: 56
Enter the 2nd number: 89
Enter the 3rd number: 100
100 is the largest

#3) A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
#taking the input for total class occurred and present in class.
a = int(input('Enter total number of happened class:'))
b = int(input('How many days the student were present in class:'))

#calculating the percentage of attendance.
c = b/a *100

#checking if attendance is greater than 75%
if (b>a):
    print('ERROR!!!!!!!!!!')
elif(c>75):
    print('Allowed to sit for the exam.')
else:
    print('Not allowed for exam.')

Enter total number of happened class:100
How many days the student were present in class:75
Not allowed for exam.

#4) A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
#taking the mark input.
a = int(input('Enter the mark:'))

#checking mark according to grading.
if(a<25):
    print('F')
elif(a>=25 and a<=44):
    print('E')
elif(a>=45 and a<=49):
    print('D')
elif(a>=50 and a<=59):
    print('C')
elif(a>=60 and a<=79):
    print('B')
elif(a>=80 and a<=89):
    print('A')
elif(a>=90):
    print('A+')

Enter the mark:89
A

#5)Print the following pattern using for loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [5]:
j = 7
for k in range(4):
    for i in range(1,j+1,1):
        print(i,end = ' ')
    print()
    j=j-1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

#5)Print the following pattern using while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [6]:
j = 7
i = 1
while(j>0):
    if(j == 3):
        break
    else:
        while(i<j+1):
            print(i,end = ' ')
            i = i+1
    print('')
    j = j-1
    i = 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

#6) Display numbers from -100 to -10 using for loop.

In [7]:
for i in range(-100,-9,1):
    print(i,end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

#7) Write a program to sum all prime numbers within a range of 10 to 1000.

In [8]:
sum = 0
for i in range(10,1000):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        sum = sum + i
print(sum)

76110

#8) Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [9]:
n = int(input('Enter the number: '))
fact = 1
for i in range(n,0,-1):
    fact = fact*i
print('factorial of',n,'is',fact)

Enter the number: 5
factorial of 5 is 120

#9) Reverse a given integer number 27956240710.

In [10]:
i = int(input('Enter an integer:'))
r = 0
while(i>0):
    r = (r*10) + i%10
    i = i //10
print('the reverse of given number is:',r)

Enter an integer:12356
the reverse of given number is: 65321

#10) Print the following pattern using for loop.
# # #
# # # #
# # #
# #

In [11]:
rows = 4
for i in range(2, rows):
    for j in range(0, i + 1):
        print("#", end=' ')
    print("")

for i in range(rows, 2, -1):
    for j in range(0, i - 1):
        print("#", end=' ')
    print("")

# # #
# # # #
# # #
# #

#10)Print the following pattern using while loop.
# # #
# # # #
# # #
# #

In [12]:
j = 4
i = 0
while(j>0):
    if(j == 4):
        while(i<3):
            print('#',end =' ')
            i= i+1
        print('')
        j = j-1
        i = 0
    elif(j == 3):
        while(i<4):
            print('#',end = ' ')
            i = i+1
        print('')
        j = j-1
        i = 0
    else:
        while(i<j+1):
            print('#',end = " ")
            i = i+1
        print('')
        j = j-1
        i = 0

# # #
# # # #
# # #
# #

#11) Display the Fibonacci series of 15 elements using the for loop.

In [13]:
n = int(input('Enter the number of terms:'))
f = 0
s = 1
print(f,s, end = ' ')
for i in range(2,n):
    nex = f+s
    print(nex, end = ' ')
    f = s
    s = nex

Enter the number of terms:15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

#11) Display the Fibonacci series of 15 elements using the while loop.

In [14]:
n = int(input('Enter the number of terms:'))
f = 0
s = 1
print(f,s, end = ' ')
i=2
while(i<n):
    nex = f+s
    print(nex, end = ' ')
    f = s
    s = nex
    i=i+1

Enter the number of terms:15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

#12) Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [15]:
Li = [1,3,5, [2,3], True]
Li

[1, 3, 5, [2, 3], True]

In [16]:
del Li[-2]
del Li[-1]
Li.insert(3 ,[3,3])
Li.insert(4,False)
Li

[1, 3, 5, [3, 3], False]

#13) Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [17]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
S2

{True, 2, 10}

In [18]:
S1.intersection(S2)

{True}

#14) Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [19]:
l1 = []
n = int(input('length of list:'))
for i in range(n):
    a = int(input())
    l1.append(a)
print(l1)

length of list:7
1
9
3
4
200
9
3
[1, 9, 3, 4, 200, 9, 3]

In [20]:
l1 = list(set(l1))
l1

[1, 3, 4, 200, 9]

In [21]:
set1 = {1,9,3,4,5,200,54}

In [22]:
set1

{1, 3, 4, 5, 9, 54, 200}

In [23]:
type(set1)

set

In [24]:
max(set1)

200

#15) Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [25]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [26]:
type(Dict)

dict

In [27]:
Dict['region'] = Dict.pop('country')
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

#16) Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [28]:
num = [10,100,300]
num

[10, 100, 300]

In [29]:
import pandas as pd

In [30]:
df = pd.DataFrame(num)
df

     0
0   10
1  100
2  300

#17) Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany"}

In [31]:
Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany"}
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [32]:
Dict['age'] = 28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}