In [1]:
!pip install gspread

Requirement already satisfied: gspread in c:\programdata\anaconda3\lib\site-packages (5.7.2)
Requirement already satisfied: google-auth>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from gspread) (2.11.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\programdata\anaconda3\lib\site-packages (from gspread) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.26.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)

In [4]:
import pandas as pd
import gspread as gp

In [5]:
gc= gp.service_account(filename='D:\\Python learning\\DATA SCIENCE & ML\\blissful-column-378812-0371f65aef6b.json')

In [6]:
gc

In [7]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1UGBdNri8ThEuuP2wN5Jf8TDCA_R6QBeEj847tos3-Go/edit?usp=sharing')

In [8]:
sheet

In [9]:
ws = sheet.worksheet('Screen Time Data')

In [10]:
ws

In [11]:
df = pd.DataFrame(ws.get_all_records())
df

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
15,15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
16,16,05/03/19,Friday,91,64,2,18,5,1,1,2,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
20,20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1
21,21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [22]:
ws2 = sheet.worksheet('name1')
ws2

In [23]:
df2 = pd.DataFrame(ws2.get_all_records())
df2

        2
0      fg  414
1    fdgd  411
2      df   14
3     age    2
4  yeasin   25
5   noman   26
6   sadia   24